---
http_interactions:
- request:
    method: get
    uri: https://www.metaweather.com/api/location/2478307/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 365046e97f346f059df3e5c5feb79114
    body:
      encoding: UTF-8
      string: '{"consolidated_weather":[{"id":5126234212139008,"weather_state_name":"Heavy
        Cloud","weather_state_abbr":"hc","wind_direction_compass":"WNW","created":"2018-03-07T21:19:11.686190Z","applicable_date":"2018-03-07","min_temp":2.0549999999999997,"max_temp":11.037500000000001,"the_temp":11.15,"wind_speed":7.9064945091505612,"wind_direction":293.99974289094672,"air_pressure":1007.675,"humidity":73,"visibility":12.186021136562475,"predictability":71},{"id":4697233551261696,"weather_state_name":"Heavy
        Cloud","weather_state_abbr":"hc","wind_direction_compass":"W","created":"2018-03-07T21:19:14.355810Z","applicable_date":"2018-03-08","min_temp":-1.4400000000000002,"max_temp":7.2575000000000003,"the_temp":7.5199999999999996,"wind_speed":8.188805969062674,"wind_direction":275.74989015772178,"air_pressure":1012.24,"humidity":48,"visibility":9.5507859102839419,"predictability":71},{"id":4755047300726784,"weather_state_name":"Light
     [...]
