---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=27604&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "27604",
                       "short_name" : "27604",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Raleigh",
                       "short_name" : "Raleigh",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Wake County",
                       "short_name" : "Wake County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "North Carolina",
                       "short_name" : "NC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Raleigh, NC 27604, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.855309,
                          "lng" : -78.48516789999999
                       },
                       "southwest" : {
                          "lat" : 35.7845309,
                          "lng" : -78.6412928
                       }
                    },
                    "location" : {
                       "lat" : 35.8150476,
                       "lng" : -78.57744079999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.855309,
                          "lng" : -78.48516789999999
                       },
                       "southwest" : {
                          "lat" : 35.7845309,
                          "lng" : -78.6412928
                       }
                    }
                 },
                 "place_id" : "ChIJu8jQkVhZrIkRBX_cgrMsuFU",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 Mar 2018 17:59:16 GMT
- request:
    method: get
    uri: https://www.metaweather.com/api/location/search/?lattlong=35.8150476,-78.57744079999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 6d47b09da0cd0683f02375f1469fa994;o=1
    body:
      encoding: UTF-8
      string: '[{"distance":6733,"title":"Raleigh","location_type":"City","woeid":2478307,"latt_long":"35.785511,-78.642670"},{"distance":214757,"title":"Charlotte","location_type":"City","woeid":2378426,"latt_long":"35.222500,-80.837540"},{"distance":217168,"title":"Richmond","location_type":"City","woeid":2480894,"latt_long":"37.540699,-77.433647"},{"distance":248573,"title":"Virginia
        Beach","location_type":"City","woeid":2512636,"latt_long":"36.755020,-76.059196"},{"distance":301331,"title":"Columbia","location_type":"City","woeid":2383552,"latt_long":"34.000833,-81.035278"},{"distance":359319,"title":"Charleston","location_type":"City","woeid":2378319,"latt_long":"32.781151,-79.931602"},{"distance":368982,"title":"Washington
        DC","location_type":"City","woeid":2514815,"latt_long":"38.899101,-77.028999"},{"distance":423310,"title":"Baltimore","location_type":"City","woeid":2358820,"latt_long":"39.290550,-76.609596"},{"distance":510727,"title":"Wilmington","location_type":"City","woeid":2521358,"latt_long":"39.740231,-75.550842"},{"distance":548602,"title":"Philadelphia","location_type":"City","woeid":2471217,"latt_long":"39.952271,-75.162369"}]'
  recorded_at: Fri, 09 Mar 2018 17:59:17 GMT
- request:
    method: get
    uri: https://www.metaweather.com/api/location/2478307/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 8beff46d6a85cf4e1fa87d0b32742dda
    body:
      encoding: UTF-8
      string: '{"consolidated_weather":[{"id":6263556584505344,"weather_state_name":"Light
        Cloud","weather_state_abbr":"lc","wind_direction_compass":"WNW","created":"2018-03-09T15:19:11.390720Z","applicable_date":"2018-03-09","min_temp":-1.0374999999999999,"max_temp":9.1524999999999999,"the_temp":9.625,"wind_speed":7.8023942798297945,"wind_direction":286.25765200063131,"air_pressure":1017.085,"humidity":43,"visibility":16.912791795911872,"predictability":70},{"id":6094454528147456,"weather_state_name":"Showers","weather_state_abbr":"s","wind_direction_compass":"WSW","created":"2018-03-09T15:19:14.579320Z","applicable_date":"2018-03-10","min_temp":2.8824999999999998,"max_temp":13.3925,"the_temp":11.824999999999999,"wind_speed":3.2906749621768867,"wind_direction":243.86243406141517,"air_pressure":1017.3299999999999,"humidity":59,"visibility":13.420996381134175,"predictability":73},{"id":4800059631730688,"weather_state_name":"Light
        Rain","w[...]
