---
http_interactions:
- request:
    method: get
    uri: https://www.metaweather.com/api/location/2478307/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 9d24750b7ddbe8b61229872991ee199d
    body:
      encoding: UTF-8
      string: '{"consolidated_weather":[{"id":6694265568624640,"weather_state_name":"Light
        Cloud","weather_state_abbr":"lc","wind_direction_compass":"WNW","created":"2018-03-09T18:19:12.085540Z","applicable_date":"2018-03-09","min_temp":-1.0374999999999999,"max_temp":9.1524999999999999,"the_temp":9.6050000000000004,"wind_speed":7.8303559048297942,"wind_direction":286.25765200063131,"air_pressure":1017.085,"humidity":43,"visibility":16.609251968503937,"predictability":70},{"id":5381970993348608,"weather_state_name":"Showers","weather_state_abbr":"s","wind_direction_compass":"WSW","created":"2018-03-09T18:19:15.387630Z","applicable_date":"2018-03-10","min_temp":2.8824999999999998,"max_temp":13.3925,"the_temp":11.780000000000001,"wind_speed":3.4137061121768872,"wind_direction":238.53974239603599,"air_pressure":1017.8299999999999,"humidity":59,"visibility":12.955589358148412,"predictability":73},{"id":6385485605765120,"weather_state_name":"Light
        Rain","w[...]
